name: CI-CD

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  unit_and_integration:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable corepack
        run: corepack enable

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          cache-dependency-path: yarn.lock

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run tests
        run: yarn test --coverage

      - name: Upload coverage artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: coverage
          path: coverage

  e2e:
    runs-on: ubuntu-latest
    needs: unit_and_integration

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Enable corepack
        run: corepack enable

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'yarn'
          cache-dependency-path: '**/yarn.lock'

      - name: Install dependencies
        run: yarn install --immutable

      - name: Run e2e tests
        run: yarn test:e2e

  quality:
    runs-on: ubuntu-latest
    needs: [unit_and_integration, e2e]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Download coverage artifact
        uses: actions/download-artifact@v4
        with:
          name: coverage
          path: coverage

      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}

  deploy:
    runs-on: ubuntu-latest
    needs: [unit_and_integration, e2e, quality]
    if: github.event_name == 'push'
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set app version
        shell: bash
        run: |
          echo "APP_VERSION=${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

      - name: Deploy to EC2
        run: |
          ssh ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} \
          "APP_VERSION=${{ env.APP_VERSION }} NEW_RELIC_LICENSE_KEY=${{ secrets.NEW_RELIC_LICENSE_KEY }} bash -s" << EOF
            set -e  # Detener el script si hay algún error
            cd ${{ secrets.APP_PATH }}
            
            echo "--- Exportando secrets ---"
            export NEW_RELIC_LICENSE_KEY=${{ secrets.NEW_RELIC_LICENSE_KEY }}
            echo "NEW_RELIC_LICENSE_KEY=$NEW_RELIC_LICENSE_KEY"

            echo "--- Bajando cambios de Git ---"
            git pull origin master
            
            echo "--- Instalando dependencias (Modo Ahorro RAM) ---"
            NODE_OPTIONS="--max-old-space-size=512" npm install --no-audit --no-fund
            
            echo "--- Generando el Build ---"
            NODE_OPTIONS="--max-old-space-size=512" npm run build
            
            echo "--- Reiniciando Aplicación con PM2 ---"
            # Limitamos la RAM también en ejecución para evitar futuros cuelgues
            APP_VERSION=$APP_VERSION pm2 restart nest-api --update-env --node-args="-r newrelic --max-old-space-size=450" || \
            APP_VERSION=$APP_VERSION pm2 start dist/main.js --name nest-api --node-args="-r newrelic --max-old-space-size=450"
            
            echo "--- Deploy Finalizado con éxito ---"
          EOF

#Fix for dont install devDependencies or build in another part
